@import "tailwindcss";

@import "@fontsource/metropolis/400.css";
@import "@fontsource/metropolis/800.css";
@import "@fontsource/space-mono";
@import "@fontsource/atkinson-hyperlegible-next";

@theme {
    --color-ultro: #e6002a;
    --color-ultro-red-50: #fff0f3;
    --color-ultro-red-100: #ffdde3;
    --color-ultro-red-200: #ffc1cc;
    --color-ultro-red-300: #ff95a8;
    --color-ultro-red-400: #ff5977;
    --color-ultro-red-500: #ff264e;
    --color-ultro-red-600: #fc0633;
    --color-ultro-red-700: #e6002a;
    --color-ultro-red-800: #af0524;
    --color-ultro-red-900: #900c24;
    --color-ultro-red-950: #50000f;

    --font-sans: 'Atkinson Hyperlegible Next', 'sans-serif';
    --font-mono: 'Space Mono', 'monospace';
    --font-display: 'Metropolis', 'sans-serif';
}