@import "tailwindcss";
@plugin "daisyui" {
    exclude: scrollbar, svg;
}
/* Could more be excluded? */

@import "@fontsource/metropolis/500.css";
@import "@fontsource/metropolis/800.css";
@import "@fontsource/space-mono";
@import "@fontsource/atkinson-hyperlegible-next";

@theme {
    --color-ultro: #e6002a;
    --color-ultro-red-50: #fff0f3;
    --color-ultro-red-100: #ffdde3;
    --color-ultro-red-200: #ffc1cc;
    --color-ultro-red-300: #ff95a8;
    --color-ultro-red-400: #ff5977;
    --color-ultro-red-500: #ff264e;
    --color-ultro-red-600: #fc0633;
    --color-ultro-red-700: #e6002a;
    --color-ultro-red-800: #af0524;
    --color-ultro-red-900: #900c24;
    --color-ultro-red-950: #50000f;

    --font-sans: 'Atkinson Hyperlegible Next', 'sans-serif';
    --font-mono: 'Space Mono', 'monospace';
    --font-display: 'Metropolis', 'sans-serif';
}


@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: #900c24;
    --color-base-200: #50000f;
    --color-base-300: oklch(20% 0.092 26.042);
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: #e6002a;
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: #af0524;
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(87% 0.01 258.338);
    --color-accent-content: #50000f;
    --color-neutral: #604043;
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 2rem;
    --radius-field: 0rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
  }
  