---
import MainLayout from "../layouts/MainLayout.astro";
import Paragraph from "../components/Paragraph.astro";
import Button from "../components/Button.astro";
import Marquee from "../components/Marquee.astro";
import { Image } from "astro:assets";

import exNihiloHero from "../assets/exnihilohero.jpg";
import exNihiloLogo from "../assets/exnihilologo.png";
---

<MainLayout
	title="Ex Nihilo"
	heading=""
	description="Ex Nihilo is our brand-new, open community FIRST Tech Challenge robotics team hosted at Browning's 64th St campus. Join us!"
>
	<figure slot="subtitle" class="-z-10 absolute top-0 left-0 w-full h-full">
		<Image
			src={exNihiloHero}
			alt="Students in The Browning School's previous Tech Lab."
			slot="subtitle"
			loading="eager"
			class="w-full h-full object-cover object-center brightness-30"
		/>
	</figure>
	<Image
		src={exNihiloLogo}
		alt="Ex Nihilo Logo"
		slot="subtitle"
		class="-m-2"
		loading="eager"
	/>
	<Paragraph slot="subtitle" className="mb-12">
		Introducing Ex Nihilo, a brand-new, open community FTC robotics team.
	</Paragraph>
	<Marquee text={["TEAM 30413", "·", '"FROM NOTHING"', "·"]} />
	<Button
		slot="subtitle"
		text="JOIN US"
		href="https://docs.google.com/forms/d/e/1FAIpQLScDP07p6hY8JLLDER6yYc0aYAKBmeJmnxOW10It-Iu0EI2hZQ/viewform?usp=dialog"
		external={true}
	/>
	<section
		class="flex flex-col items-center justify-center py-8 pb-20 bg-radial-[at_50%_100%] from-ultro-red-900 to-ultro-red-950 to-80%"
	>
		<h2
			class="text-white text-4xl font-display font-extrabold m-4 text-center"
		>
			What is Ex Nihilo?
		</h2>
		<p class="max-w-9/10 w-144 text-center">
			Ex Nihilo is an open community robotics team being launched by Ultro
			Robotics for the 2025-26 season. At Ex Nihilo, you'll have access to
			Browning's brand-new fabrication equipment, an extensive catalog of
			parts spanning a decade of robotics, and collaboration with and
			mentorship of Ultro.
		</p>
		<h3 class="text-white text-2xl font-mono m-4 mt-12 text-center">
			WHAT ARE EX NIHILO'S GOALS?
		</h3>
		<p class="max-w-9/10 w-144 text-center">
			At Ex Nihilo, we plan on building simple, efficient, and effective
			designs that utilize the resources we have to their maximum
			potential. We treat every member as valuable, regardless of
			experience, and want our resources to enable <strong
				>everyone</strong
			> to <strong>succeed in STEM.</strong>
		</p>
		<h3 class="text-white text-2xl font-mono m-4 mt-12 text-center">
			WHY DID YOU LAUNCH EX NIHILO?
		</h3>
		<p class="max-w-9/10 w-144 text-center">
			With the expansion of Browning's Upper School, we have continued to
			broaden access to STEM education and FIRST Robotics, reinforcing
			our commitment to diversity and inclusion. Through Ex Nihilo, we are
			now able to share our expertise more widely and connect with an even
			broader community of learners.
		</p>
		<h2
			class="text-white text-4xl font-display font-extrabold m-4 mt-16 text-center"
		>
			Scheduling
		</h2>
		<p class="max-w-9/10 w-144 text-center">
			<strong>Weekdays:</strong> TBD at The Browning School (337 East 64th
			Street)
		</p>
		<p class="max-w-9/10 w-144 text-center">
			<strong>Weekends:</strong> TBD at NYC FIRST STEM Center @ Cornell Tech
		</p>
		<h2 class="text-white text-4xl font-mono font-bold m-4 mt-30 mb-8">
			READY TO JOIN?
		</h2>
		<Button
			slot="subtitle"
			text="JOIN US"
			href="https://docs.google.com/forms/d/e/1FAIpQLScDP07p6hY8JLLDER6yYc0aYAKBmeJmnxOW10It-Iu0EI2hZQ/viewform?usp=dialog"
			external={true}
		/>
	</section>
</MainLayout>
