---
import BaseLayout from "../layouts/BaseLayout.astro";
import Marquee from "../components/Marquee.astro";
---

<BaseLayout title="Ultro Robotics" expandedNav="true">
	<div
		id="landing"
		class="h-screen flex justify-center items-center bg-gradient-to-b from-black from-30% to-ultro-red-950 to-90%"
	>
		<Marquee text={["COMING SOON", "·"]} />
	</div>
</BaseLayout>
