---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Ultro Robotics" expandedNav="true">
	<div
		id="landing"
		class="h-screen flex justify-center items-center bg-gradient-to-b from-black from-30% to-ultro-red-950 to-90%"
	>
		<p class="text-white">insert landing graphic here</p>
	</div>
	<div
		class="bg-radial-[at_50%_100%] from-ultro-red-900 to-ultro-red-950 to-65% p-10 flex flex-col justify-center items-center"
	>
		<section
			id="about"
			class="text-white text-base w-4/5 max-w-144 text-center space-y-8"
		>
			<h1 class="text-5xl font-display font-extrabold">What is Ultro?</h1>
			<p>
				Team Ultro (meaning "of its own mind") is a <strong
					>FIRST Tech Challenge</strong
				> (FTC) robotics team based in <a
					href="https://browning.edu"
					class="underline hover:text-gray-300">The Browning School</a
				>, a New York City all-boys school.
			</p>
			<p>
				With our <strong>student-led</strong>, innovative designs and
				high-performing autonomous projects, our ultimate goal is to use
				FIRST Tech Challenge-learned skills to <strong
					>engineer for humanity.</strong
				>
			</p>
			<Button text="ABOUT US" href="/about" />
		</section>
	</div>
	<div class="bg-black h-144"></div>
</Layout>
