---
import BaseLayout from "../layouts/BaseLayout.astro";
import Marquee from "../components/Marquee.astro";
---

<BaseLayout title="Ultro Robotics" expandedNav="true" description="The homepage for Ultro, the Browning School's premier FTC robotics team.">
	<div
		id="landing"
		class="h-screen flex flex-col justify-center items-center bg-gradient-to-b from-black from-30% to-ultro-red-950 to-90%"
	>
		<Marquee text={["COMING SOON", "·"]} />
		<p class="m-4"><a href="/old/index.html" class="text-ultro-red-500 hover:text-ultro-red-800 transition-colors underline">Visit old website here</a></p>
	</div>
</BaseLayout>
