---
import Carousel from '../components/Carousel.astro';
import MainLayout from '../layouts/MainLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<MainLayout title="Robots">
	<section class="flex items-center justify-center h-96">
		<div class="w-144">
			<Carousel />
		</div>
	</section>
</MainLayout>
