---
const { text, href } = Astro.props;
---

<a href={href} class="inline-block">
    <!-- why do i have to add cursor-pointer? it should do it on its own, right? -->
    <button
        id="button" class="cursor-pointer relative flex flex-row justify-center items-center border-3 font-mono transition-all border-ultro-red-600 bg-ultro-red-600 px-8 py-3 text-base text-white hover:bg-transparent focus:ring-3 focus:outline-hidden shadow-lg hover:shadow-none shadow-ultro-red-600/25 w-full"
    >
        <div class="flex items-center justify-center transition-all duration-200">
            <span class="inline-block transition-all duration-200">{text}</span>
            
            <!-- Taken from Material Symbols -->
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF" class="size-6 ml-0 transition-all duration-200 w-0 overflow-hidden" id="icon">
                <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/>
            </svg>
        </div>
    </button>
</a>

<script>
    const button = document.getElementById("button");
    const icon = document.getElementById("icon");

    button?.addEventListener('mouseover', () => {
        if (icon) {
            icon.classList.remove("w-0", "ml-0");
            icon.classList.add("w-6", "ml-2");
        }
    });

    button?.addEventListener('mouseout', () => {
        if (icon) {
            icon.classList.add("w-0", "ml-0");
            icon.classList.remove("w-6", "ml-2");
        }
    });
</script>
