---
const { text } = Astro.props;
---

<button
    class="inline-block border-3 font-mono border-ultro-red-600 bg-ultro-red-600 px-12 py-3 text-base font-medium text-white hover:bg-transparent focus:ring-3 focus:outline-hidden"
>
    {text}
</button>
