---
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";
import browningFooter from "../assets/browning_footer.png";
import ultroSmall from "../assets/ultrosmall.png";
import Image from "astro/components/Image.astro";
---
<footer class="footer sm:footer-horizontal bg-black text-black-content items-center px-4 border-t-2 border-gray-200/30">
    <aside class="grid-flow-col items-center">
      <Image src={ultroSmall} alt="Ultro icon" class="h-16 w-16" />
      <p class="font-mono p-2 pl-4 m-4 border-l-2 border-white h-min">337 EAST 64TH STREET<br>NEW YORK, NY 10065</p>
    </aside>
    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        <a href="https://youtube.com/@UltroRobotics" class="m-2 hover:text-gray-400 transition-colors" aria-label="YouTube">
            <Icon name="simple-icons:youtube" width="2em" height="2em" />
        </a>
        <a href="https://www.instagram.com/ultro_robotics10539/" class="m-2 hover:text-gray-400 transition-colors" aria-label="Instagram">
            <Icon name="simple-icons:instagram" width="2em" height="2em" />
        </a>
        <a href="https://github.com/BrowningUltro-10539" class="m-2 hover:text-gray-400 transition-colors" aria-label="GitHub">
            <Icon name="simple-icons:github" width="2em" height="2em" />
        </a>
    </nav>
</footer>
<footer class="footer footer-horizontal footer-center bg-black text-black-content p-10">
    <aside>
      <Image src={browningFooter} alt="The Browning School logo" class="h-48 w-auto" />
      <p class="text-sm">
        Ultro Robotics is the Browning School's premier FTC robotics team.
      </p>
      <p class="text-sm">This website is <Link href="https://github.com/BrowningUltro-10539/ultro.browning.edu" external={true}>open source!</Link></p>
    </aside>
</footer>