---
const { href = "", external = false } = Astro.props;

const externalProperties = {
    "target": "_blank",
    "rel": "noopener noreferrer"
}
---

<a href={href} class="text-ultro-red-500 hover:text-ultro-red-800 transition-colors underline" {...(external ? externalProperties : {})}><slot /></a>