---
interface Props {
    text: Array<string>;
    classes?: string;
}

const { text, classes = "bg-black" } = Astro.props;
---

<div class={`flex overflow-hidden gap-2 relative select-none ${classes}`}>
    <div class="scroll flex shrink-0 justify-around min-w-1/1 marquee-content gap-2">
        {
            text.map((item) => (
                <span class="font-mono text-3xl whitespace-preline text-white">
                    { item }
                </span>
            ))
        }
    </div>
    <div class="scroll flex shrink-0 justify-around min-w-1/1 marquee-content gap-2">
        {
            text.map((item) => (
                <span class="font-mono text-3xl whitespace-preline text-white">
                    { item }
                </span>
            ))
        }
    </div>
</div>

<style>
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - 0.5rem));
        }
    }

    .scroll {
        animation: scroll 10s linear infinite;
    }
</style>

<!-- TODO: add client-side JS to automatically -->